@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  max-width: 1200px;
  margin: 0 auto;

  background-color: white;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

ul,
li {
  margin-left: 1rem;
  padding-left: 0;
}

pre {
  background-color: #eee;
  padding: 1rem;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
